/* Margins */
$margins: 0, 4, 8, 12;
@each $m in $margins {
  .m-#{$m} {
    margin: #{$m}px;
  }
}

/* Paddings */
$paddings: 0, 4, 8, 12;
@each $p in $paddings {
  .p-#{$p} {
    padding: #{$p}px;
  }
  .pl-#{$p} {
    padding-left: #{$p}px;
  }
}

/* Backgrounds */
.bg-white {
  background-color: $white;
}